CREATE DATABASE [ReadingList]
GO
USE [ReadingList]
GO

CREATE TABLE [Author](
	[authorId] [int] IDENTITY(1,1) NOT NULL,
	[authorName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[authorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Book]    Script Date: 5/31/2021 12:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book](
	[bookId] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[pages] [int] NOT NULL,
	[subcategoryId] [int] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[bookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BookAuthor]    Script Date: 5/31/2021 12:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BookAuthor](
	[bookId] [int] NOT NULL,
	[authorId] [int] NOT NULL,
	[authorOrder] [int] NOT NULL,
 CONSTRAINT [PK_BookAuthor] PRIMARY KEY CLUSTERED 
(
	[bookId] ASC,
	[authorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BookRead]    Script Date: 5/31/2021 12:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BookRead](
	[bookReadId] [int] IDENTITY(1,1) NOT NULL,
	[bookId] [int] NOT NULL,
	[yearRead] [int] NOT NULL,
	[readingOrder] [int] NOT NULL,
	[currentlyReading] [bit] NOT NULL,
 CONSTRAINT [PK_BookRead] PRIMARY KEY CLUSTERED 
(
	[bookReadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Category]    Script Date: 5/31/2021 12:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Category](
	[categoryId] [int] NOT NULL,
	[categoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Subcategory]    Script Date: 5/31/2021 12:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Subcategory](
	[subcategoryId] [int] NOT NULL,
	[categoryId] [int] NOT NULL,
	[subcategoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Subcategory] PRIMARY KEY CLUSTERED 
(
	[subcategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Author] ON 
GO
INSERT [Author] ([authorId], [authorName]) VALUES (1, N'A. A. Milne')
GO
INSERT [Author] ([authorId], [authorName]) VALUES (2, N'A. B. Poland')
GO
INSERT [Author] ([authorId], [authorName]) VALUES (3, N'A. Douglas Stone')
GO
SET IDENTITY_INSERT [Author] OFF
GO
SET IDENTITY_INSERT [Book] ON 
GO
INSERT [Book] ([bookId], [title], [pages], [subcategoryId]) VALUES (1, N'1776', 400, 10)
GO
INSERT [Book] ([bookId], [title], [pages], [subcategoryId]) VALUES (2, N'1984', 368, 102)
GO
INSERT [Book] ([bookId], [title], [pages], [subcategoryId]) VALUES (3, N'10 Books That Screwed Up the World', 260, 22)
GO
SET IDENTITY_INSERT [Book] OFF
GO
INSERT [BookAuthor] ([bookId], [authorId], [authorOrder]) VALUES (1, 92, 1)
GO
INSERT [BookAuthor] ([bookId], [authorId], [authorOrder]) VALUES (2, 131, 1)
GO
INSERT [BookAuthor] ([bookId], [authorId], [authorOrder]) VALUES (3, 38, 1)
GO
SET IDENTITY_INSERT [BookRead] ON 
GO
INSERT [BookRead] ([bookReadId], [bookId], [yearRead], [readingOrder], [currentlyReading]) VALUES (1, 682, 2016, 618, 0)
GO
INSERT [BookRead] ([bookReadId], [bookId], [yearRead], [readingOrder], [currentlyReading]) VALUES (2, 3, 2013, 461, 0)
GO
INSERT [BookRead] ([bookReadId], [bookId], [yearRead], [readingOrder], [currentlyReading]) VALUES (3, 4, 2009, 132, 0)
GO
SET IDENTITY_INSERT [BookRead] OFF
GO
INSERT [Category] ([categoryId], [categoryName]) VALUES (1, N'Fiction')
GO
INSERT [Category] ([categoryId], [categoryName]) VALUES (2, N'Nonfiction')
GO
INSERT [Subcategory] ([subcategoryId], [categoryId], [subcategoryName]) VALUES (4, 2, N'Theology')
GO
INSERT [Subcategory] ([subcategoryId], [categoryId], [subcategoryName]) VALUES (5, 2, N'Art, Music, and Poetry')
GO
INSERT [Subcategory] ([subcategoryId], [categoryId], [subcategoryName]) VALUES (6, 2, N'Science and Mathematics')
GO
ALTER TABLE [Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Subcategory] FOREIGN KEY([subcategoryId])
REFERENCES [Subcategory] ([subcategoryId])
GO
ALTER TABLE [Book] CHECK CONSTRAINT [FK_Book_Subcategory]
GO
ALTER TABLE [BookAuthor]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthor_Author] FOREIGN KEY([authorId])
REFERENCES [Author] ([authorId])
GO
ALTER TABLE [BookAuthor] CHECK CONSTRAINT [FK_BookAuthor_Author]
GO
ALTER TABLE [BookAuthor]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthor_Book] FOREIGN KEY([bookId])
REFERENCES [Book] ([bookId])
GO
ALTER TABLE [BookAuthor] CHECK CONSTRAINT [FK_BookAuthor_Book]
GO
ALTER TABLE [BookRead]  WITH CHECK ADD  CONSTRAINT [FK_BookRead_Book] FOREIGN KEY([bookId])
REFERENCES [Book] ([bookId])
GO
ALTER TABLE [BookRead] CHECK CONSTRAINT [FK_BookRead_Book]
GO
ALTER TABLE [Subcategory]  WITH CHECK ADD  CONSTRAINT [FK_Subcategory_Category] FOREIGN KEY([categoryId])
REFERENCES [Category] ([categoryId])
GO
ALTER TABLE [Subcategory] CHECK CONSTRAINT [FK_Subcategory_Category]
GO
